- content_for :javascripts do
  = javascript_include_tag 'login.js'

- title 'wIDE | Forgot your password?', true

.devise_form.ui-widget-content
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    %fieldset
      %legend.ui-widget-header Forgot your password?
      = devise_error_messages!
      %p
        = f.label :email
        = f.text_field :email
      %p= f.submit "Submit"
= render :partial => "devise/shared/links"
