%thead
  %tr.ui-widget-header
    %th Name
    %th Project Type
    %th Status
    %th
    %th
%tbody.ui-widget-content.ui-state-default
  - @projects.each do |project|
    - status = project.status
    %tr{:class => ['ui-state-default', status]}
      %td
        - if status == 'success'
          = link_to project.name, project
        - else
          = project.name
      %td
        - if !project.project_type.blank?
          = project.project_type.name
        - else
          \-
      %td.status
        - if status == 'success'
          Ready
        - elsif status == 'initializing'
          Initializing
          %span.ui-icon.ui-icon-throbber
            Initializing ...
        - else
          There has been a problem initializing the repository
      %td.fork
        = link_to 'Fork Project', new_project_path(:parent_project_id => project.id), :class => 'ui-icon ui-icon-arrowthick-1-nw', :title => 'Fork Project'
      %td.delete
        = link_to 'Remove Project', project, :method => :delete, :confirm => 'Are you sure that you want to remove the project?', :class => 'ui-icon ui-icon-trash', :title => 'Remove Project'
  %tr.add_new_project
    %td.add_new_project.success(colspan=5)
      = link_to 'Add a New Project', new_project_path
