- title "wIDE | #{current_user.user_name} | My Projects", false
- content_for :alternative_title do
  %h1= raw('wIDE | My Projects')

- content_for :javascripts do
  = javascript_include_tag 'page.project.js', 'page.project.index.js'

#projects.ui-widget-content.ui-corner-all
  %h1.ui-widget-header.ui-corner-all
    Projects
    = link_to 'New Project', new_project_path, :class => 'ui-icon ui-icon-circle-plus'
  %table#toc
    = render 'projects_table'
