- title "wIDE | #{current_user.email}"

#projects.ui-widget-content
  %h1
    %span.title Projects
    = link_to 'New Project', new_project_path, :class => 'ui-icon ui-icon-circle-plus'
  %ul
    - @projects.each do |project|
      - async_op_status = project.repository.async_op_status
      %li
        -if !async_op_status || async_op_status[:operation] != :init_or_clone || async_op_status[:status] == 'success'
          = link_to project.name, project
        - elsif async_op_status[:operation] == :init_or_clone && async_op_status[:status] == 'running'
          %span= "#{project.name} (Repository being initialized)"
        - else
          %span= "#{project.name} (There has been a problem initializing the repository)"
        = link_to 'Remove Project', project, :method => :delete, :confirm => 'Are you sure that you want to remove the project?', :class => 'ui-icon ui-icon-circle-minus'
