- title "wIDE | #{current_user.user_name} | My Projects", false
- content_for :alternative_title do
  %h1= raw('wIDE | My Projects')

- content_for :javascripts do
  = javascript_include_tag 'page.project.js'

#projects.ui-widget-content.ui-corner-all
  %h1.ui-widget-header.ui-corner-all
    Projects
    = link_to 'New Project', new_project_path, :class => 'ui-icon ui-icon-circle-plus'
  %table
    %thead
      %tr.ui-widget-header
        %th Name
        %th Project Type
        %th Status
        %th
    %tbody.ui-widget-content.ui-state-default
      - @projects.each do |project|
        - status = project.status
        %tr.ui-state-default
          %td
            - if status == 'success'
              = link_to project.name, project
            - else
              = project.name
          %td
            - if !project.project_type.blank?
              = project.project_type.name
            - else
              \-
          %td{:width => '20em'}
            - if status == 'success'
              Ready
            - elsif status == 'initializing'
              Initializing
            - else
              There has been a problem initializing the repository
          %td{:width => '16px'}
            = link_to 'Remove Project', project, :method => :delete, :confirm => 'Are you sure that you want to remove the project?', :class => 'ui-icon ui-icon-trash'
