- title "wIDE | #{current_user.email} | New Project"

.new_project.ui-widget-container.ui-widget
  = simple_form_for @project, :class => 'ui-widget-content' do |f|
    %h1.ui-widget-header New Project
    = f.input :name
    = f.input :project_type_id, :collection => ProjectType.all, :include_blank => false, :required => true
    = simple_form_for 'project[repository_attributes]' do |repository_form|
      = repository_form.input :scm, :collection => Wide::Scm::Scm.all_adapters, :include_blank => false
      = repository_form.input :url, :required => false
      = f.button :submit
