- content_for :javascripts do
  = javascript_include_tag 'jquery.cookie.js', 'jquery.hotkeys.js',
    'jquery.tmpl.min.js', 'jquery.jstree.js', 'jquery.jstree.overlays.js',
    'jlayout.border.min.js', 'jquery.sizes.min.js', 'jquery.jlayout.min.js',
    :cache => 'external'
  = javascript_include_tag 'wide.file.js','wide.tree.js',
    'wide.compiler_output.js', 'wide.toolbar.js', 'wide.compile.js',
    'wide.editor.js', 'wide.layout.js', 'wide.async_op.js', :cache => 'wide_framework'
  = javascript_include_tag 'page.project.commit_dialog.js',
    'page.project.pull_dialog.js', 'page.project.js', :cache => 'project'

  %meta{:name => 'project_id', :content => @project.to_param}

- title "wIDE | #{current_user.user_name} | #{@project.name}", false

- content_for :alternative_title do
  %h1= raw("wIDE | #{link_to("My Projects", projects_path)} | #{h(@project.name)}")

:javascript
  var ace_theme = #{(current_user.ace_theme || Settings.default_ace_theme).to_json};

.layout
  #toolbar.north
    - if @project.repository.supports_commit?
      %button#commit_button Commit
    - if @project.repository.supports_pull?
      %button#pull_button Pull
    %button#compile_button Compile
    %button#save_all_button Save All
    %button#save_button Save

  #tree_pane.west
    #tree
  #central_pane.center
    #tabs.center
      %ul
    = render 'compiler_output'

= render :partial => 'commit_dialog', :project => @project
= render :partial => 'pull_dialog', :project => @project

= javascript_include_tag 'ace-uncompressed.js'
