- content_for :javascripts do
  = javascript_include_tag 'jquery.cookie.js', 'jquery.hotkeys.js',
    'jquery.jstree.js', 'jquery.jstree.overlays.js',
    'edit_area/edit_area_full.js', 'jquery-ui-1.8.5.min.js', 'tree.js',
    'editor.js', 'commit_dialog.js', 'jlayout.border.min.js',
    'jquery.jlayout.min.js', 'jquery.sizes.min.js', 'layout.js'

- content_for :stylesheets do
  = stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.5.css'

- title "wIDE | #{current_user.email} | #{@project.name}", false

#title
  %h1.ui-widget-header= raw("wIDE | #{link_to(h(current_user.email), root_path)} | #{h(@project.name)}")

.layout
  #toolbar.north
    %button#add_file_button Add File
    %button#add_directory_button Add Folder
    %button#rename_button Rename
    %button#remove_button Remove
    - if @project.repository.supports_commit?
      %button#commit_button Commit

  #tree_pane.west
    #tree
  #central_pane.center
    = form_tag save_file_project_repository_path(@project), :id => :file_edit do
      = hidden_field_tag :project_id, @project.to_param
      = hidden_field_tag :path
      = text_area_tag :content

= render :partial => 'commit_dialog', :project => @project
