- content_for :javascripts do
  = javascript_include_tag 'jquery.cookie.js', 'jquery.hotkeys.js', 'jquery.jstree.js', 'edit_area/edit_area_full.js'

#tree
#file_content
  = form_tag save_file_project_path(@project), :id => :file_edit, :remote => true do
    = hidden_field_tag :project_id, @project.to_param
    = hidden_field_tag :path
    = text_area_tag :content
