- content_for :javascripts do
  = javascript_include_tag 'jquery.cookie.js', 'jquery.hotkeys.js',
    'jquery.jstree.js', 'jquery.jstree.overlays.js',
    'file.js','tree.js', 'compilator_output',
    'editor.js', 'commit_dialog.js', 'jlayout.border.min.js',
    'jquery.jlayout.min.js', 'jquery.sizes.min.js', 'layout.js',
    'jquery.tmpl.min.js', 'pull_dialog.js', 'async_op.js'
  %link(id='bespin_base' href='/bespin')
  %meta{:name => 'project_id', :content => @project.to_param}
  = javascript_include_tag '/bespin/BespinEmbedded.js'

- title "wIDE | #{current_user.email} | #{@project.name}", false

- content_for :alternative_title do
  #title
    %h1.ui-widget-header= raw("wIDE | #{link_to(h(current_user.email), root_path)} | #{h(@project.name)}")

.layout
  #toolbar.north
    - if @project.repository.supports_commit?
      %button#commit_button Commit
    - if @project.repository.supports_pull?
      %button#pull_button Pull
    %button#compile_button Compile

  #tree_pane.west
    #tree
  #central_pane.center
    #tabs.center
      %ul
    = render 'compiler_output'


= render :partial => 'commit_dialog', :project => @project
= render :partial => 'pull_dialog', :project => @project
