- title 'Welcome to wIDE!', true

.simple_form_container.ui-widget-content
  %h1.ui-widget-header Login
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = f.input :email, :input_html => { :class => 'ui-state-default' }
    = f.input :password, :input_html => { :class => 'ui-state-default', :size => 50 }
    - if devise_mapping.rememberable?
      = f.input :remember_me, :as => :boolean
    %p= f.button :submit, 'Login'
= render :partial => 'devise/shared/links'
