- content_for :javascripts do
  = javascript_include_tag 'login.js'

- title 'Welcome to wIDE!', true

.devise_form.ui-widget-content
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %fieldset
      %legend.ui-widget-header Login
      %p
        = f.label :email
        = f.text_field :email
      %p
        = f.label :password
        = f.password_field :password
      - if devise_mapping.rememberable?
        %p#remember_me_p
          = f.check_box :remember_me
          = f.label :remember_me
      %p.sign_in= f.submit 'Login'
= render :partial => 'devise/shared/links'
